@model ProjetoClinica.Models.Consulta

@{
    ViewBag.Title = "Remover consulta";
}

<br />
<h2 style="text-align:center;">Remover consulta</h2>
<br />
<h5>Você tem certeza que deseja remover esta consulta?</h5>


<div>

    <hr />
    <div class="card border-primary">
        <div class="card-body">
            <blockquote class="card-blockquote">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DataConsulta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataConsulta)
                    </dd>

                </dl>
            </blockquote>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit"  value="Sim" class="btn btn-primary" /> 
            @Html.ActionLink("Retornar", "Index", "Consulta", new { @class = "btn btn-warning" })
        </div>
    }
</div>

