@model ProjetoClinica.Models.Consulta

@{
    ViewBag.Title = "Detalhes";
}

<br />
<h2 style="text-align:center;">Detalhes da consulta</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ConsultaId }, new {@class="btn btn-warning"}) 
    @Html.ActionLink("Retornar", "Index", "Consulta", new {@class="btn btn-outline-info"})
</p>
