@model ProjetoClinica.Models.Clinica

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Consultas")
</p>

<section>
    <h3>Bem Vindo - @Html.DisplayFor(model => model.ClinicaNome)</h3>
</section>