@model ProjetoClinica.Models.Clinica

@{
    ViewBag.Title = "Index";
    ProjetoClinica.Models.Clinica clinica = new ProjetoClinica.Models.Clinica();
    clinica = Model;
}



<section>
    <br />
    <br />
    <h3>Bem Vindo - Clinica @Html.DisplayFor(model => model.ClinicaNome)</h3>
    @Html.ActionLink("Editar Informações", "Edit", new { id = clinica.ClinicaId }, new { target = "_blank" })
    <br /><br />
    @Html.ActionLink("Consultas", "Index", "Consultas")
</section>