@model ProjetoClinica.Models.Clinica

@{
    ViewBag.Title = "Index";
}

<h2>Página Inicial</h2>

<section>
    <h3>Bem Vindo - Clinica @Html.DisplayFor(model => model.ClinicaNome)</h3>
    @Html.ActionLink("Consultas", "Index", "Consultas")
</section>