@model ProjetoClinica.Models.Clinica

@{
    ViewBag.Title = "Home";
    ProjetoClinica.Models.Clinica clinica = new ProjetoClinica.Models.Clinica();
    clinica = Model;
}

<br />
<br />
<div class="card">
   
    <h3 class="card-header">Bem vindo, @Html.DisplayFor(model => model.ClinicaNome) </h3>
    <div class="card-body">
        <h5 class="card-title"> Dr. @Html.DisplayFor(model => model.ClinicaMedico)</h5>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="http://www.hospitalsantahelenamg.com.br/base/wp-content/uploads/2014/05/Banner.png" alt="Card image">

     <div class="card-body">
        <div>
            <label class="btn btn-outline-primary">
               @Html.ActionLink("Editar Informações", "Edit", "Clinicas", new { id = clinica.ClinicaId }, new { target = "_blank" })
            </label>
            <label class="btn btn-outline-primary">
               @Html.ActionLink("Consultas", "Index", "Consultas")
            </label>
          
        </div>    
    </div>
</div>
